{% extends "base.html" %}
{% load staticfiles %}

    {% block content %}
    <div class="container">
      <h1 style="margin-top:1em; padding:0.5em; border-bottom:outset;">학생회 공지사항</h1>
    
    <!--리스트-->
    {% for notice in posts %}
    <br>
    <div class="panel panel-default notice-box" style="">
        <a href="{% url 'detail' notice.id %}">
            <h1 class="panel-body notice-content">{{ notice.title }}</h1>
        </a>
        <p>{{ notice.pub_date_pretty }}</p>
        <p>{{ notice.body }}</p>
        <p>{{ notice.summary }}</p>
    </div>
    {% endfor %}

    
    <div class="container">
        <!-- <h1 style="margin-top:1em;">{{ notice.title }}</h1>
        <p>{{ notice.pub_date_pretty }}</p> -->
        <a href="{% url 'notice' %}" style="text-decoration:none;">돌아가기</a>
    </div>





    <!-- Paginator  -->
    <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li class="page-item">
            <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </li>
        {% else %}
            <li class="disabled">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            </li>
        {% endif %}

        {% for page in posts.paginator.page_range %} 
        <li {% ifequal page post.number %} class ="active"{% endifequal %}>
            <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
        </li>
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item">
        <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a>
        </li>
        {% else %}
            <li class="disabled">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
            </li>
        {% endif %}
    </ul>
    </nav>
    </div>

{% endblock %}