{% extends 'base.html' %}
{% block content %}

{% if error %}
{{ error }}
<br>
<br>
{% endif %}

<h1>회원가입 페이지 입니다.</h1>

<form method="POST" action="">
{% csrf_token %}
    Username:
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password1" type="password" value="">
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password" value="">
    <br>
    Email:
    <br>
    <input name="email" type="email" value="">
    <br>
    Major:
    <br>
    <input name="major" type="major" value="문헌정보학과">
    <br>
    <br>

    <button class="btn btn-primary" type="submit">회원가입</button>
</form>
{% endblock %}



