{% extends 'base.html'%}
{% block content %}

<div class="container">
    <div id="account-page">

            {% if error %}
            {{ error }}
            <br>
            <br>
            {% endif %}

        <h1>로그인</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <br>
            아이디
            <br>
            <input name="username" type="text" value="">
            <br><br>
            비밀번호
            <br>
            <input name="password" type="password" value="">
            <br>
            <br>
            <input class="btn btn-primary" type="submit" value="Login">
        </form>
        <br />

    </div>
</div>
{% endblock %}
